body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

p{
    color: #F3F3F3;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #0084ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

th, td{
    text-align: center;
}

.card {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#history-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.pagination {
    display: flex inline-block;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: fit-content;
}

.pagination a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

#clear-button-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#clear-button {
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#clear-button:hover {
    background-color: #ff3333;
}

#home-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#home-button:hover {
    background-color: #0056b3;
}
